html {
  box-sizing: border-box;
}

body {
  width: 440px;
  background: #222;
  font-family: 'Libre Franklin', sans-serif;
}

html,
body,
button,
li,
ul,
h2,
p {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

li,
ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
